
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Rigster Page</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
			#box{
				background-color: red;
				border: 5px;
			}
			#div1{
				{#height: 30px;#}
				{#background-color: pink;#}
				margin: 50px 100px 200px 100px;
			}
			#div2{
                height: 20px;
				margin: 20px ;
			}
    </style>

</head>
<body>
	<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron well">
				<h1>
					Hello, explorer!
				</h1>
				<p>
					We are here to provide your fantastic traveling experience.
				</p>
                <a href="http://127.0.0.1:8000/admin">
                <button type="button" class="btn btn-primary btn-lg">Sign in</button>
                </a>
                <a href="http://127.0.0.1:8000/register">
                <button type="button" class="btn btn-primary btn-lg">Sign Up</button>
                </a>
			</div>
			<div class="page-header">
				<h1>
					There are so many cars waiting for you.
				</h1>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="/static/images/smallcar.jpeg" />
						<div class="caption">
							<h3>
								Small Car
							</h3>
							<p>
								An easy and effective way for you.
							</p>
{#							<p>#}
{#								 <a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>#}
{#							</p>#}
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="/static/images/midcar.jpeg" />
						<div class="caption">
							<h3>
								Mide-size Car
							</h3>
							<p>
								Audi, Toyota, etc. We have all you need.
							</p>

						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="/static/images/SUV.jpeg" />
						<div class="caption">
							<h3>
								SUV
							</h3>
							<p>
								Best choice for family travelling!
							</p>

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="thumbnail">
						<img alt="300x200" src="/static/images/PSUV2.jpeg" />
						<div class="caption">
							<h3>
								Premium SUV
							</h3>
							<p>
								More space, More powerful.
							</p>

						</div>
					</div>
				</div>
				<div class="col-md-4" >
					<div class="thumbnail" >
						<img alt="300x200" src="/static/images/luxury.jpeg" />
						<div class="caption">
							<h3>
								Luxury Car
							</h3>
							<p>
								Lamborghini，Benz, BMW, etc.
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="thumbnail" >
						<img alt="300x200" src="/static/images/van.jpeg" />
						<div class="caption">
							<h3>
								Van
							</h3>
							<p>
								Want more space for goods? No problem!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


</body>
</html>