

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div style="margin: 15% 40%;">
        <h1>Welcome！Please login.</h1>
       <form action="/login/" method="post">{% csrf_token %}
            <p>
                <label for="id_email">User：</label>
                <input type="text" id="id_email" name="email" placeholder="user" autofocus required >
            </p>

            <p>
                <label for="id_password">Password：</label>
                <input type="password" id="id_password" placeholder="password" name="password" required >
            </p>
            <input type="submit" value="Login">
           <input type="submit" value="Sign Up">
        </form>
     <form class="form-horizontal">
<div class="control-group"><label class="control-label" contenteditable="true" for="inputEmail">邮箱</label>
<div class="controls"><input id="inputEmail" placeholder="Email" type="text" /></div>
</div>

</form>
    </div>

</body>
</html>